# api 참고 자료
api_test/

# environment variables
.env

# python virtual environment
.venv/
venv/

# pycache
*.pyc
__pycache__/

# metadata in macOS
.DS_Store

# sqlite data
db.sqlite3

# Jupyter 자동 저장 체크포인트
.ipynb_checkpoints/

# Streamlit settings
.streamlit/

# Claude code settings
CLAUDE.md

# mcp server
.mcp.json
test.json

# vscode settings
.vscode/
.venv/