# api 참고 자료
api_test/

# environment variables
.env

# python virtual environment
.venv/
venv/

# pycache
*.pyc
__pycache__/

# metadata in macOS
.DS_Store

# sqlite data
db.sqlite3

# Jupyter 자동 저장 체크포인트
.ipynb_checkpoints/

# Streamlit settings
.streamlit/

# vscode settings
.vscode/

# ================= Personal Settings =================

# Claude code and Gemini CLI settings
CLAUDE.md
GEMINI.md
REFACTORING_GUIDE.md

# mcp server
.mcp.json
test.json

# Jupyter notebook
test.ipynb

# Project settings
project.toml
pyproject.toml
pyrefly.toml

# pyreflyignore
.pyreflyignore