# ============== Environment ==============

# API
api_test/

# environment
.env

# virtual environment
.venv/
venv/

# metadata in macOS
.DS_Store

# pycache
*.pyc
__pycache__/


# ================== Data ==================

# sqlite data
db.sqlite3

# Jupyter checkpoints
.ipynb_checkpoints/

# test files
test.json
test.py

# ================ Settings ================

# Streamlit settings
.streamlit/

# vscode settings
.vscode/


# ================ Extention ================


# INFO: personal settings files when committing, turn on to ignore these files

.mcp.json  
*.md
*.toml
.claude**
.gemini**
.ruff**
.CLAUDE**
.GEMINI**
.pyproject.toml
.poetry.lock
# my_app/chatbot/notebooks/
my_app/ui/level_quiz/data/generated/